@use "../abstracts/colors" as colors;

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.666);
	backdrop-filter: blur(5px) saturate(10%) contrast(150%) brightness(90%);
	&__text {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: rgba(colors.color(white), 0.7);
	}
}
